{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="mt-5">
    <article>
        <h1 class="text-success">All Reservations</h1>
        <!--Begin row-->
        <div class="row">
            <!--Begin col-->
            <div class="col-md-6">
                <div class="column">
                    <p>
                        Little Lemon Booking App

                        Welcome to the "Little Lemon Booking" app, your go-to platform for managing reservations and
                        appointments in the world of zesty goodness! Whether you're running a lemonade stand, a
                        citrus-themed event, or any lemon-inspired business, our app is designed to make the booking
                        process a breeze.

                        Key Features:

                        Effortless Reservations: Allow your customers to easily book their spots for your lemon-flavored
                        products, services, or events.

                        User-Friendly Interface: Our simple and intuitive interface ensures a smooth booking experience
                        for both you and your customers.

                        Date and Time Selection: Enable customers to choose their preferred reservation date and time
                        with our user-friendly calendar and time picker.

                        Name and Contact Details: Capture essential information, such as customer names and contact
                        details, to keep in touch and provide the best service.

                        Real-time Updates: Receive instant notifications and keep track of reservations in real-time,
                        allowing you to manage your schedule effectively.

                        Customization: Tailor the app to suit your lemon-themed brand with customizable features and
                        branding options.
                    </p>
                </div>
            </div>
            <!--End col-->

            <!--Begin col-->
            <div class="col-md-6">
                <div class="column">
                    <div class="videowrap">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11898.289517452584!2d-87.60853049433447!3d41.79442860243028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2912ce6f7027%3A0xc0cfb5545d4a37b2!2sHyde%20Park%2C%20Chicago%2C%20IL%2C%20USA!5e0!3m2!1sen!2spt!4v1662384760663!5m2!1sen!2spt"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
            <!--End col-->
        </div>
        <!--End row-->




    </article>
</section>
{% endblock %}